<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Year</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'paintings' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="animals-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Animals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="animals-link">
                <a href="{% url 'paintings' %}?subcategory=horses" class="dropdown-item">Horses</a>
                <a href="{% url 'paintings' %}?category=animals" class="dropdown-item">All Animals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="flowers-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flowers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="flowers-link">
                <a href="{% url 'paintings' %}?category=orchids" class="dropdown-item">Orchids</a>
                <a href="{% url 'paintings' %}?category=roses" class="dropdown-item">Roses</a>
                <a href="{% url 'paintings' %}?category=sunflowers" class="dropdown-item">Sunflowers</a>
                <a href="{% url 'paintings' %}?category=flowers,orchids,roses,sunflowers" class="dropdown-item">All Flowers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="buildings-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Buildings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="buildings-link">
                <a href="{% url 'paintings' %}?category=huts" class="dropdown-item">Huts</a>
                <a href="{% url 'paintings' %}?category=buildings,huts" class="dropdown-item">All Buildings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="forest-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Forest
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="forest-link">
                <a href="{% url 'paintings' %}?category=birches" class="dropdown-item">Birches</a>
                <a href="{% url 'paintings' %}?category=waterfalls" class="dropdown-item">Waterfalls</a>
                <a href="{% url 'paintings' %}?category=forest,birches,waterfalls" class="dropdown-item">All Forest</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="landscapes-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Landscapes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="landscapes-link">
                <a href="{% url 'paintings' %}?category=sunrise_sundown" class="dropdown-item">Sunrise & Sundown</a>
                <a href="{% url 'paintings' %}?category=wheat_fields" class="dropdown-item">Wheat Fields</a>
                <a href="{% url 'paintings' %}?category=landscapes,sunrise_sundown,wheat_fields" class="dropdown-item">All Landscapes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="women-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Women
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="women-link">
                <a href="{% url 'paintings' %}?category=nude" class="dropdown-item">Nude Acts</a>
                <a href="{% url 'paintings' %}?category=women,nude" class="dropdown-item">All Women</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sea-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sea
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sea-link">
                <a href="{% url 'paintings' %}?category=large_ships" class="dropdown-item">Large Ships</a>
                <a href="{% url 'paintings' %}?category=sea,large_ships" class="dropdown-item">All Sea</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Paintings</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>