<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Paintings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'paintings' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'paintings' %}?sort=year&direction=asc" class="dropdown-item ">By Year</a>
                <a href="{% url 'paintings' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'paintings' %}" class="dropdown-item">All Paintings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="categories-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Explore Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="categories-link">
                <a href="{% url 'paintings' %}?category=animals" class="dropdown-item">Animals</a>
                <a href="{% url 'paintings' %}?category=flowers" class="dropdown-item">Flowers</a>
                <a href="{% url 'paintings' %}?category=buildings" class="dropdown-item">Buildings</a>
                <a href="{% url 'paintings' %}?category=forest" class="dropdown-item">Forest</a>
                <a href="{% url 'paintings' %}?category=landscapes" class="dropdown-item">Landscapes</a>
                <a href="{% url 'paintings' %}?category=women" class="dropdown-item">Women</a>
                <a href="{% url 'paintings' %}?category=sea" class="dropdown-item">Sea</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="subcategories-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Explore Sub-Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="subcategories-link">
                <a href="{% url 'paintings' %}?subcategory=horses" class="dropdown-item">Horses</a>
                <a href="{% url 'paintings' %}?subcategory=orchids" class="dropdown-item">Orchids</a>
                <a href="{% url 'paintings' %}?subcategory=roses" class="dropdown-item">Roses</a>
                <a href="{% url 'paintings' %}?subcategory=sunflowers" class="dropdown-item">Sunflowers</a>
                <a href="{% url 'paintings' %}?subcategory=huts" class="dropdown-item">Huts</a>
                <a href="{% url 'paintings' %}?subcategory=birches" class="dropdown-item">Birches</a>
                <a href="{% url 'paintings' %}?subcategory=waterfalls" class="dropdown-item">Waterfalls</a>
                <a href="{% url 'paintings' %}?subcategory=sunrise_sundown" class="dropdown-item">Sunrise & Sundown</a>
                <a href="{% url 'paintings' %}?subcategory=wheat_fields" class="dropdown-item">Wheat Fields</a>
                <a href="{% url 'paintings' %}?subcategory=nude" class="dropdown-item">Nude Acts</a>
                <a href="{% url 'paintings' %}?subcategory=large_ships" class="dropdown-item">Large Ships</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'paintings' %}?subcategory=new_paintings" class="dropdown-item">New Paintings</a>
                <a href="{% url 'paintings' %}?subcategory=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'paintings' %}?subcategory=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'paintings' %}?subcategory=new_paintings,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-link">
                <a href="{% url 'about' %}" class="dropdown-item">About the Artist</a>
                <a href="{% url 'contact' %}" class="dropdown-item">Contact Us</a>
                <a href="{% url 't_and_c' %}" class="dropdown-item">T&C's</a>
                <a href="{% url 'privacy' %}" class="dropdown-item">Privacy</a>
            </div>
        </li>
    </ul>
</div>