{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<!-- Header - set the background image for the header in the line below-->
<header class="about-pad bg-image-full">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="{{ MEDIA_URL }}logo.png" alt="logo image" />
        <h1 class="text-white fs-3 fw-bolder">Self-taught Artist</h1>
    </div>
</header>
<!-- Content section-->
<section class="py-3">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Desire to Create</h2>
                <p class="lead">Since he was a young man, the drive to make and fix was one of his defining traits and
                    desires.</p>
                <p class="mb-0">Born in 1969, life growing up was different and challenging. Constant fixing of his
                    children's toys and efforts around the house
                    started giving voice to desire to create, in any way possible. From engine mechanics, botany,
                    farming and building,
                    it seems nothing was impossible for him. And all of it self-taught, learning by trial and error. It
                    seems he only needed to see something to
                    be able to recreate it or make it better. And painting was, and still is, one of his many passions.
                </p>
            </div>
            <div class="col-lg-6 d-flex flex-column align-items-center">
                <h2>The First Painting</h2>
                <p class="lead">Made all the way back in 2001, this one is not for sale.</p>
                <img class="img-fluid mb-4" src="{{ MEDIA_URL }}artist-next-to-his-first-painting.webp" style="max-width: 55%;"
                    alt="artist image" />
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container my-5">
        <div class="row justify-content-center">
                <div class="col-lg-4 d-flex flex-column align-items-center">
                    <h2>Art Exibit Music</h2>
                    <p class="lead">Music band was set up, featuring Artist's daughter on violin.</p>
                    <img class="img-fluid mb-4" src="{{ MEDIA_URL }}art-show-music-band.jpg"
                        style="max-width: 55%;" alt="artist image" />
                </div>
                <div class="col-lg-4">
                    <h2>Recognition of Talent</h2>
                    <p class="lead">His first art exibit, 26.01.2011. </p>
                    <p class="mb-0">After 10 years of creating stunning paintings, recognition came and first exibit was set up.
                        It took a long while to talk him into it, as he didn't create for recognition, fame or money. It was and still is, a passion.
                        The exibit was an overwhelming success, not to mention how proud and validated the artist felt.
                    </p>
                </div>
                <div class="col-lg-4 d-flex flex-column align-items-center">
                    <h2>The Exibit</h2>
                    <p class="lead">People could not believe this is coming from self-taught artist.</p>
                    <img class="img-fluid mb-4" src="{{ MEDIA_URL }}art-show-people.jpg"
                        style="max-width: 55%;" alt="artist image" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-3">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 d-flex flex-column align-items-center">
                <h2>Artist Growing</h2>
                <p class="lead">Paintings are not the only way to express himself!
                </p>
                <img class="img-fluid mb-4" src="{{ MEDIA_URL }}artist-sculpture.webp" style="max-width: 55%;"
                    alt="artist image" />
            </div>
            <div class="col-lg-6">
                <h2>Desire to Create</h2>
                <p class="lead">Forever continuing to learn and make.</p>
                <p class="mb-0">Is there anything he can't do? Well, according to his loving wife, baking could well be his
                    only nemesis, yet undefeated. But it's never too late. Over 50 years old, still learning new things every day,
                    the knowledge that was created out of pure will is a testament to human spirit. Someone to look up to, for sure.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="about-pad bg-image-full">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="{{ MEDIA_URL }}logo.png" alt="logo image" />
    </div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 d-flex flex-column align-items-center">
                <h2>Shop With Confidence</h2>
                <p class="lead">Our Customer Service is at Your Disposal</p>
                <p class="mb-0">We will do our best to have your shopping experience engaging and up to high standards!
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}